.home_page{
    display:flex;
    flex-direction:column;
    padding:12px 18px;
    padding-top:9rem;
    padding-bottom:12rem;
    @media screen and (min-width:950px)
    {
        padding-top:12rem;
    }
}