@media screen and (min-width:736px) {
    .otp{
        margin-right: 70px;
        margin: 20px 65px 20px 0px;
        // border-style: dashed;
    }
    element.style {
        display: flex;
        margin-right: 310px;
    }
}