.inventory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:12px;
    gap:1.5rem;
    .inventory_heading{
        display:flex;
        align-items: center;
        h3{
            font-size: x-large;
        }
    }
    .inventory_data{
        height: 90%;
        display: grid;
        grid-template-columns: auto auto;
        padding-bottom:6rem;
        gap:1rem;
    }
}
@media screen and (min-width:550px)
{
    .inventory{
        .best_seller{
            margin: 0 1rem;
        }
        margin: 1rem;
        .inventory_data{
            margin:0 1rem;
            grid-template-columns: auto auto;
        }
        .inventory_loading{
            grid-template-columns:auto auto
        }
    }
}
@media screen and (min-width:850px)
{
    .inventory{
        .inventory_data{
            grid-template-columns: auto auto auto;
        }
        .inventory_loading{
            grid-template-columns: auto auto auto;
        }
    }
}
@media screen and (min-width:1050px)
{
    .inventory{
        .inventory_data{
            grid-template-columns:auto auto auto auto;
        }
        .inventory_loading{
            grid-template-columns:auto auto auto auto;
        }
    }
}
@media screen and (min-width:1450px)
{
    .inventory{
        .inventory_data{
            grid-template-columns:auto auto auto auto auto;
        }
        .inventory_loading{
            grid-template-columns:auto auto auto auto auto;
        }
    }
}