.authbtn{
    min-width:6rem;
    padding:12px 20px;
    border-radius: 12px;
    background-color: #00b5d7;
    border: none;
    color: white;
    font-size: small;
    font-weight: 700;
    cursor: pointer;
}