.Phone_numeber_verification{
    .phone_number{
        position: relative;
        PhoneInput{
          margin: 0.5rem 0;
          padding: 1rem;
          border: none;
          border-radius: 10px;
        }
      }
      .notVerified_user{
        color: red;
      }
      .verify_contact{
        position: absolute;
        padding: 2px;
        top:1.4rem;
        right:0.6rem;
        color: rgb(64, 255, 47);
      }
      .opt_input_verify{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        button{
          width: fit-content;
          padding:12px;
        }
      }
}